<turbo-stream action="append" target="errors">
  <template>
    <hr />
    <div class="h5 text-center text-danger">
    <p>Оба поля не должны быть пустыми</p>
    <p>Минимальный срок пребывания – 1 день</p>
    <p>Дата заселения не может быть из прошлого</p>
    </div>
  </template>
</turbo-stream>
