.centered {
	min-height: 100vh;
	height: 100%;
	top: 0;
	left: 0;
	margin: 0 auto;
	align-items: flex-start;
	display: flex;
}

.bg-img {
	background: url(bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: -100;
}

.admin {
	background: url(bg-admin.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: -100;
}

.welcome {
	background: url(agora_bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: -100;
}

.gradient {
	color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to right, rgb(13, 183, 217), rgb(9, 245, 209), rgb(0, 51, 255));
	font-family: Montserrat, Roboto, sans-serif;
	font-weight: 900;
	line-height: normal;
}

.card {
	border-bottom-right-radius: 4em;
	border-top-left-radius: 4em;
	margin: 0 auto;
	align-self: center;
}

.card.simple {
	border-radius: 1em;
	padding: 1em 2em 0 2em;
	min-height: 30em;
	margin: 0 auto;
	align-self: center;
}

.card-title {
	color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to right, #0d6efd, rgb(13, 183, 217));
	font-family: Montserrat, Roboto, sans-serif;
	font-size: 2rem;
	font-weight: 700;
	line-height: normal;
}

.btn {
	border-radius: 2em;
	padding: .5em 1.5em;
}


p span {
	padding-inline: 0.5em;
}

p a {
	text-decoration: none;
}

.spread {
	position: relative;
	display: flex;
	width: 100%;
	justify-content: space-between;
}



.sort_link {
	text-decoration: none;
}

.button_to {
	display: inline;
}

.italic {
	font-style: italic !important;
}

.alert {
	z-index: 100;
	position: fixed;
	width: 100vw;
}

